<div class="row">
  <div class="column">
    <ul class="nav navbar-nav row-vertical">
      <li routerLinkActive="active">
        <a routerLink="send">Send Message</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="recieve" (click)="recieveMessage()">Recieve Message</a>
      </li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
    
    
  </div>
</div>


<!-- <div class="row">
  <div class="col-md-5">
      <p *ngIf="error" class="alert alert-danger">{{error}}</p>
      <button  routerLink="hello" routerLinkActive="active" class="btn btn-primary" (click)="hello()">Hello</button>
      <button routerLink="detail" routerLinkActive="active" class="btn btn-primary" (click)="getUserDetail()">User Detail</button>
      <button routerLink="all" routerLinkActive="active" class="btn btn-primary" (click)="getAllUser()">All User</button>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div> -->
