<div class="form-div">
  <p *ngIf="error">Message was not successfully sent <br> {{error}}</p>
  <p *ngIf="success">Message was successfully sent</p>
    <form #whatsappForm="ngForm" (ngSubmit)="onSubmit(whatsappForm)">
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input
            type="number"
            id="phoneNumber"
            class="form-control"
            ngModel
            name="phoneNumber"
            required
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <input
            type="textarea"
            id="message"
            class="form-control"
            ngModel
            name="message"
            required
          />
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!whatsappForm.valid"
          >Send
          </button>
        </div>
      </form>
</div>
